{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}


{% block body %}

    <section class="section_page">
        <div class="container">
            <div class="row">
                <h2>Manage is account {{ app.user.firstName }}</h2>
            </div>
        </div>
    </section>

{% endblock %}