{% extends 'base.html.twig' %}

{% block title %}Hello ContentController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}


{% block body %}

    <section class="section_page">
        <div class="container">
            <div class="row">
                <h2>Here is content</h2>
            </div>





        </div>
    </section>

{% endblock %}
