<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.2/semantic.min.css">
    <link rel="stylesheet" href="{{ asset('fomantic-css/base.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>



{% block body %}{% endblock %}

<!-- You MUST include jQuery before Fomantic -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.2/semantic.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
