
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <style>
        .container{
            width: 100%;
            margin-top: 20px;
            margin-bottom: 50px;
        }
        .header{
            width: 70%;
            margin: 10px auto;
            height: 100px;
        }
        .content{
            width: 70%;
            margin: 10px auto;
            height: 400px;
        }
        .footer{
            height: 100px;
            width: 70%;
            margin: 10px auto;
        }
        .text-center{
            text-align:center
        }
        .content p{
            font-size: 1.2rem;
        }
        .content-header{
            margin-bottom: 20px;
        }
        .content-body{
            margin-bottom: 50px;
        }

    </style>
</head>
<body>


<div class="container">
    <div class="header text-center">
        <h1>OPENING THE DOORS FOUNDATION</h1>
    </div>
    <div class="content">
        <p class="content-header">
            Dear Parents,
        </p>
        <p class="content-body">
            Thank you for submitting your application form. Our staff will process it as soon as possible.
            If there are any questions about your form, please contact our staff.
        </p>
        <p>
            Opening The Doors Foundation Team
        </p>
    </div>
    <div class="footer">

    </div>
</div>




</body>
</html>